@using shelterbooking.Shared

<EditForm Model="@book" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group ">
        <div>
            <label>Fulde Navn :</label>
            <div>
                <InputText @bind-Value="@book.fuldenavn" />
                <ValidationMessage For="@(() => book.fuldenavn)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Telefon nr :</label>
            <div>
                <InputNumber @bind-Value="@book.telefon" />
                <ValidationMessage For="@(() => book.telefon)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Booking kommentar :</label>
            <div>
                <InputText @bind-Value="@book.kommentar" />
                <ValidationMessage For="@(() => book.kommentar)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Startdato : (Format: ex. 31/10/2021)</label>
            <div>
                <InputText @bind-Value="@book.startdato" />
                <ValidationMessage For="@(() => book.startdato)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Slutdato : (Format: ex. 01/11/2021)</label>
            <div>
                <InputText @bind-Value="@book.slutdato" />
                <ValidationMessage For="@(() => book.slutdato)" />
            </div>
        </div>
     </div>
    
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Booking book { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}